@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@100;400;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 15px;
}

html{
	font-size: calc(12px + 0.37vw);
}

body {
	margin: 0;
	--color-text: #000;
	--color-bg: #f7f5ee;
	--color-link: #000;
	--color-link-hover: #000;
	--color-hashtag-title: #3F729B;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: rustica, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	overflow-y: scroll;
	line-height: 1;
	width: 100vw;
}
/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;

}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
	font-weight: 600;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
	background: lightgrey;
}

a:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
	background: transparent;
}

a:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid red;
	background: transparent;
}
#cursor_sec{
  position:absolute;
  font-size: 2rem;
  font-weight: bold;
	z-index: 210;
	pointer-events: none;
	margin-left: -1rem;
	margin-top: -1rem;
}

.unbutton {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
}

.unbutton:focus {
	outline: none;
}

.line {
	transform-origin: 0% 50%;
	padding-bottom: 0.35rem;
	/* white-space: nowrap; */
	will-change: transform;
	line-height: 2rem;
}

.oh {
	overflow: hidden;
}

.oh__inner {
	display: inline-block;
	transform-origin: 0% 50%;
	will-change: transform;
}

.frame {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.frame--fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 1rem;
	z-index: 1;
	display: grid;
	grid-template-columns: 38% 62%;
}

.frame__title {
	font-size: 1rem;
	font-weight: 400;
	margin: 0 0 2rem 0;
	line-height: 1.5rem;
	color: #858A8B;
}

.frame__links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.frame__links a {
	margin: 0 1rem 0.35rem 0;
}

.frame--fixed .frame__links {
	flex-direction: row;
}

.grid {
	display: grid;
	/* --grid-border-radius: 0px; */
	grid-template-columns: repeat(2,50%);
	margin-bottom: 7rem;
}

.grid--large {
	grid-auto-rows: 30vmin;
	padding: 0.5vw;
	--grid-padding: 0.5vw;
}

.grid--mini {
	width: 220px;
	height: 300px;
	--grid-padding: 1px;
    margin-bottom: 3vh;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

.grid__cell {
	display: grid;
	align-items: end;
	display: flex;
	justify-content: center;
	align-items: center;
}

.grid--mini .grid__cell:not(.grid__cell--current):hover .grid__cell-img {
	opacity: 0.7;
}

.grid__cell--current .grid__cell-img {
	opacity: 0.3;
}

.grid__cell--padded {
	padding: calc(var(--grid-padding) * 2 );
}

.grid__cell-img {
	width: calc(100% - var(--grid-padding) * 2);
	height: calc(100% - var(--grid-padding) * 2);
	margin: var(--grid-padding);
	/* width: 20rem;
	height: 15rem; */
	/* border-radius: var(--grid-border-radius); */
	display: block;
	position: relative;
	overflow: hidden;
	object-fit: cover;
	object-position: bottom;
}

.grid__cell-img-inner {
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15vh 8vw 0;
	z-index: 1000;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin-left: 3vw;
}

.content__item {
	position: absolute;
	opacity: 0;
	display: grid;
}

.content__item--current {
	opacity: 1;
	position: relative;
	pointer-events: auto;
}

.content__item-number {
	font-weight: 600;
	display: block;
}

.content__item-heading {
	font-size: 1.5vw;
	font-weight: 400;
	font-family: 'Outfit', sans-serif;
	color: var(--color-hashtag-title);
	line-height: 1;
	margin: 1rem 0 3rem 0;
	font-weight: 600;
}

.content__item-text {
	max-width: 32rem;
	/* width: 30%; */
	margin-bottom: 2rem;
	overflow-wrap: break-word;
	word-break: break-all;
	/* word-wrap:break-word; */
}

.content__item-link {
	cursor: pointer;
}

.slide-nav {
	position: fixed;
    width: 40%;
    right: 15%;
	top: 0;
	height: 100%;
	display: grid;
	align-content: space-between;
	pointer-events: none;
}

.slide-nav__img {
	width: 100%;
	height: 10vh;
	position: relative;
	overflow: hidden;
	opacity: 0.3;
	cursor: not-allowed;
	/* cursor: pointer; */
	background-size: cover;
}

.content--open .slide-nav__img {
	pointer-events: auto;
}

.slide-nav__img--prev {
	transform: translateY(-100%);
	/* border-radius: 0 0 1.5vw 1.5vw; */
}

.slide-nav__img--next {
	transform: translateY(100%);
	/* border-radius: 1.5vw 1.5vw 0 0; */
}

.slide-nav__img-inner {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.back {
	opacity: 0;
	pointer-events: none;
	stroke: #000;
	color: #282d2f;
	z-index: 200;
	cursor: pointer;
	/* width: 10rem; */
	background-color: #fff;
	border: 0;
	border-radius: 100px;
	justify-content: center;
	align-items: center;
	/* margin: auto 0 1.5rem; */
	padding: 0.7rem 1rem;
	font-family: Outfit,sans-serif;
	font-size: .7rem;
	font-weight: 400;
	display: flex;
	position: absolute;
	top: 5vh;
	box-shadow: -3px 4px 100px -11px grey;
}

.back svg {
	stroke-linecap: round;
}

.back:hover,
.back:focus {
	outline: none;
	/* stroke: #823725; */
}

.back_to_about{
	/* opacity: 0; */
	z-index: 1;
	stroke: #000;
	color: #282d2f;
	z-index: 1000;
	cursor: pointer;
	/* width: 9rem; */
	background-color: #fff;
	border: 0;
	border-radius: 100px;
	justify-content: center;
	align-items: center;
	margin: 0 1.5rem;
	padding: 0.7rem 1rem;
	font-family: Outfit,sans-serif;
	font-size: .7rem;
	font-weight: 400;
	display: flex;
	position: absolute;
	top: 3vh;
	box-shadow: -3px 4px 100px -11px grey;
}

.content--open .back {
	pointer-events: auto;
}

@media screen and (max-width: 53em){
	#cursor_sec{
		display: none;
	}
	main{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.back_to_about{
		/* opacity: 0; */
		z-index: 1;
		stroke: #000;
		color: #282d2f;
		z-index: 1000;
		cursor: pointer;
		background-color: #fff;
		border: 0;
		border-radius: 100px;
		justify-content: center;
		align-items: center;
		margin: 0 1.5rem;
		padding: 0.7rem 1rem;
		font-family: Outfit,sans-serif;
		font-size: .7rem;
		font-weight: 400;
		display: flex;
		position: absolute;
		top: 3vh;
		box-shadow: -3px 4px 100px -11px grey;
	}
	.side_bar_container{
		position: absolute;
		top: 9.5vh;
		left: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		z-index: 100;
	}
	.side_bar_contents{
		display: flex;
		flex-direction: row;
		margin-top: .8rem;
	}
	.side_bar_title_prop{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		font-family: 'Outfit', sans-serif;
		font-weight: 400;
		font-size: .7rem;
		color: #858A8B;
	}
	.side_bar_contents_container{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		/* margin-top: .6rem; */
    /* margin-bottom: .1rem; */
		font-weight: 400;
		font-family: 'Outfit', sans-serif;
	}
	.side_bar_contents_container:nth-child(1){
		margin-right: .5rem;
	}
	.side_bar_contents_emoji{
		display: flex;
		justify-content: center;
		font-size: .7rem;
		
	}
	.side_bar_contents_text{
		font-size: .8rem;
		margin-top: .2rem;
	}
	.footer_container{
		width: 100%;
		height: 100vh;
		z-index: 101;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-image: url("../img/footer_bg.svg");
		background-size: cover;
	}
	.footer_top_container{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5rem;
	}
	.footer_title_container{
		display: flex;
		flex-direction: column;
		width: 75%;
		height: 100%;
		margin-top: 3rem;
	}
	.footer_title_prop{
		display: flex;
		flex-direction: row;
		font-family: 'Outfit', sans-serif;
		color: #DBDFE0;
		font-size: 2rem;
		/* margin: 1rem 0; */
		font-weight: 300;
		line-height: 2.5rem;
		letter-spacing: 0em;
		text-align: left;
	}
	.footer_nav_container{
		display: flex;
		flex-direction: column;
		width: 75%;
		height: 100%;
		justify-content: flex-start;
		align-items: flex-start;
		margin-top: 2rem;
	}
	.footer_nav_prop{
		font-family: 'Outfit', sans-serif;
		color:#DBDFE0;
		font-size: 1rem;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 0em;
		text-align: left;
		transition: all .3s ease-in-out;
	}
	.footer_nav_prop:nth-child(2){
		font-size: .7rem;
	}
	.footer_nav_prop:nth-child(3){
		/* margin-top: 1.5rem; */
	}
	.footer_nav_prop:nth-child(4){
		/* margin-top: 7rem; */
		font-size: .9rem;
		text-decoration: underline;
		margin-top: 2rem;
	}
	.footer_nav_prop:hover{
		color: #858A8B;
		transition: all .3s ease-in-out;
		cursor: pointer;
	}

	.footer_divider{
		border-bottom: 1px #858A8B solid;
		width: 75%;
	}

	.footer_bottom_container{
		width: 100%;
		height: 20%;
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		margin-top: 3rem;
	}
	.footer_copyright{
		font-family: 'Outfit', sans-serif;
		font-size: .7rem;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: left;
		color: #858A8B;
		width: 75%;

	}
	.footer_author_container{
		display: flex;
		flex-direction: column;
		width: 75%;
	}
	.footer_author_each_container{
		display: flex;
		flex-direction: column;
		font-family: 'Outfit', sans-serif;
		font-size: .7rem;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: left;
		color: #858A8B;
		margin-top: 1rem;

	}
	.footer_responsibility{
		

	}
	.footer_author_detailed_container{
		display: flex;
		flex-direction: row;
		margin: .3rem 0;
		justify-content: flex-start;
		align-items: center;

	}
	.footer_author_emoji{
		margin-right: .3rem;
		font-size: .7rem;
	}
	.footer_author_name{
		margin-right: .3rem;

	}
	.footer_url_container{

	}
	.footer_url_contents_prop{
		margin-right: .3rem;
		width: 50%;
	}
	.frame__title {
		font-size: .8rem;
		font-weight: 400;
		margin: 0 0 2rem 0;
		line-height: 1.2rem;
		color: #858A8B;
	}

	.content{
		position: fixed;
		top: 0;
		left: 0;
		width: 84%;
		height: 100%;
		z-index: 1000;
		pointer-events: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		margin: 0 2rem;
		padding: 0 0;
	}
	.content__item-text{
		margin-top: 0;
	}
	.content__item-heading{
		font-size: 1.5em;
		margin-top: 50vh;
		margin-bottom: 10%;
	}
	.slide-nav{
		position: fixed;
    width: 100%;
		top: 20vh;
		left: 0;
		height: 100%;
		display: flex;
	}
	.slide-nav__img{
		height: 20vh;
	}
	.slide-nav__img--prev{
		left: -45%;
	}
	.slide-nav__img--next{
		left: 45%;
	}
	.slide-nav__img--prev{
		transform: translateY(0%);
	}

	.grid__cell-img{
	}
	.back{
		/* margin-left: -40vw; */
	}
}


@media screen and (min-width: 53em) {
	.back_to_about{
		/* opacity: 0; */
		z-index: 1;
		stroke: #000;
		color: #282d2f;
		z-index: 1000;
		cursor: pointer;
		width: 9rem;
		background-color: #fff;
		border: 0;
		border-radius: 100px;
		justify-content: center;
		align-items: center;
		margin: 0 1.5rem;
		padding: 0.7rem 1rem;
		font-family: Outfit,sans-serif;
		font-size: .7rem;
		font-weight: 400;
		display: flex;
		position: absolute;
		top: 5vh;
		box-shadow: -3px 4px 100px -11px grey;
	}
	.content {
		width: 38%;
	}
	main{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
	}
	/* footer */
	.footer_container{
		width: 100%;
		height: 100vh;
		z-index: 101;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-image: url("../img/footer_bg.svg");
		background-size: cover;
		/* margin-top: 100vh; */
	}
	.footer_top_container{
		width: 65%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5rem;
	}
	.footer_title_container{
		display: flex;
		flex-direction: column;
		width: 60%;
		height: 100%;
		margin-top: -2rem;
	}
	.footer_title_prop{
		font-family: 'Outfit', sans-serif;
		color: #DBDFE0;
		font-size: 80px;
		font-weight: 300;
		line-height: 101px;
		letter-spacing: 0em;
		text-align: left;
	}
	.footer_nav_container{
		display: flex;
		flex-direction: column;
		width: 30%;
		height: 100%;
		justify-content: flex-start;
		align-items: flex-start;
		margin-top: 2rem;
	}
	.footer_nav_prop{
		font-family: 'Outfit', sans-serif;
		color:#DBDFE0;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 0em;
		text-align: left;
		transition: all .3s ease-in-out;
	}
	.footer_nav_prop:nth-child(2){
		font-size: .9rem;
	}
	.footer_nav_prop:nth-child(3){
		margin-top: 1.5rem;
	}
	.footer_nav_prop:nth-child(4){
		margin-top: 7rem;
		font-size: .9rem;
		text-decoration: underline;
	}
	.footer_nav_prop:hover{
		color: #858A8B;
		transition: all .3s ease-in-out;
		cursor: pointer;
	}

	.footer_divider{
		border-bottom: 1px #858A8B solid;
		width: 65%;
	}

	.footer_bottom_container{
		width: 65%;
		height: 20%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		margin-top: 3rem;
	}
	.footer_copyright{
		font-family: 'Outfit', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: left;
		color: #858A8B;
		width: 70%;

	}
	.footer_author_container{
		display: flex;
		flex-direction: column;
		width: 30%;
	}
	.footer_author_each_container{
		display: flex;
		flex-direction: column;
		font-family: 'Outfit', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: left;
		color: #858A8B;
		margin-top: 2rem;

	}
	.footer_responsibility{
		

	}
	.footer_author_detailed_container{
		display: flex;
		flex-direction: row;
		margin: .5rem 0;
		justify-content: flex-start;
		align-items: center;

	}
	.footer_author_emoji{
		margin-right: .5rem;
		font-size: 1.2rem;
	}
	.footer_author_name{
		margin-right: .5rem;

	}
	.footer_url_container{

	}
	.footer_url_contents_prop{
		margin-right: .5rem;

	}

	.side_bar_container{
		width: 6%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: white;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		z-index: 100;
		padding-bottom: 2.7rem;
	}
	.side_bar_title_prop{
		display: flex;
		justify-content: center;
		align-items: center;
		writing-mode: vertical-lr;
		width: 6%;
		font-family: 'Outfit', sans-serif;
		font-weight: 400;
		font-size: .7rem;
		color: #858A8B;
		margin-bottom: 1.1rem;
	}
	.side_bar_contents_container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: .6rem;
    margin-bottom: .1rem;
		font-weight: 400;
		font-family: 'Outfit', sans-serif;
	}
	.side_bar_contents_emoji{
		display: flex;
		justify-content: center;
		font-size: 1.8rem;
		
	}
	.side_bar_contents_text{
		font-size: .8rem;
		margin-top: .2rem;
	}

	.grid {
		grid-template-columns: repeat(4,25%);
		width: 94%;
	}
	.grid__cell--padded {
		padding: var(--grid-padding);
	}
	.grid__cell-c3-r2 { grid-column: 3; grid-row: 2; }
	.grid__cell-c1-r3 { grid-column: 1; grid-row: 3; }

	.grid__cell-c1-r1 { grid-column: 2; grid-row: 1; }
	.grid__cell-c3-r1 { grid-column: 3; grid-row: 1; }
	.grid__cell-c4-r1 { grid-column: 4; grid-row: 1; }
	.grid__cell-c1-r2 { grid-column: 1; grid-row: 2; }
	.grid__cell-c2-r2 { grid-column: 2; grid-row: 2; }
	.grid__cell-c2-r2 { grid-column: 2; grid-row: 2; }
	.grid__cell-c2-r3 { grid-column: 2; grid-row: 3; }
	.grid__cell-c4-r3 { grid-column: 3; grid-row: 3; }
	.grid__cell-c1-r4 { grid-column: 4; grid-row: 3; }
	.grid__cell-c3-r4 { grid-column: 1; grid-row: 4; }
	.grid__cell-c2-r4 { grid-column: 2; grid-row: 4; }
	.grid__cell-c4-r4 { grid-column: 4; grid-row: 4; }
	.grid__cell-c1-r5 { grid-column: 1; grid-row: 5; }
	.grid__cell-c3-r5 { grid-column: 3; grid-row: 5; }
	.grid__cell-c4-r5 { grid-column: 4; grid-row: 5; }
	.grid__cell-c1-r6 { grid-column: 1; grid-row: 6; }
	.grid__cell-c2-r6 { grid-column: 2; grid-row: 6; }
	.grid__cell-c3-r6 { grid-column: 3; grid-row: 6; }
	.grid__cell-c2-r7 { grid-column: 2; grid-row: 7; }
	.grid__cell-c3-r7 { grid-column: 3; grid-row: 7; }
	.grid__cell-c4-r7 { grid-column: 4; grid-row: 7; }
	.grid--mini {
		visibility: visible;
		position: relative;
	}
	.content--open .grid--mini {
		pointer-events: auto;
	}
	body #cdawrap {
		position: relative;
		margin-top: auto;
        --cda-left: auto;
        --cda-right: auto;
        --cda-width: 300px;
        --cda-bottom: auto;
        --cda-top: auto;
        opacity: 1 !important;
        pointer-events: auto;
        z-index: 1;
    }

    body #cdawrap .cda-footer {
        display: none;
    }

    body #cdawrap .cda-text {
        color: transparent !important;
        height: 1.25rem;
        pointer-events: none;
        position: relative;
        text-align: left;
    }

    body #cdawrap .cda-text::before {
        color: var(--color-text);
        content: "Sponsored by "attr(data-sponsor);
        font-size: 0.85rem;
        font-weight: 500;
        left: 0;
        pointer-events: auto;
        position: absolute;
        top: 0;
        opacity: 0.5;
        transition: opacity 0.4s;
    }

    .grid[style*="pointer-events: none;"] .frame #cdawrap .cda-text::before {
    	opacity: 0 !important;
    }

    body #cdawrap:hover .cda-text::before {
        color: var(--color-link-hover);
    }

    body #cdawrap a::after {
        display: none;
    }
}

